* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-color: #000000;
}

body.light-mode, body.light-mode a {
  background-color: #fff;
}

body.light-mode a {
  background-color: #fff;
  color: #666666;
  font-weight: bold;
}

body.light-mode body {
  background-color: #fff;
}

body.light-mode i {
  color: #000;
}

body.light-mode .container {
  background-color: #fff;
  color: #000;
}

body.light-mode .project-details-link {
  background-color: #008080;
  color: #000;
}

body.light-mode .fa-arrow-up-right-from-square {
  font-size: 1.1rem;
  color: #000;
}

body.light-mode .ext-link {
  color: #666666;
  font-weight: bold;
  font-size: 1rem;
}

body.light-mode p > a:hover {
  color: #000;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  color: #afa9a9;
  font-weight: 800;
}

i {
  font-size: 1.4rem;
  color: #fff;
}

.fa-arrow-up-right-from-square {
  font-size: 1.1rem;
}

.ext-link {
  color: #afa9a9;
  font-weight: bold;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enable-chaos {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  background-color: #000;
  color: #fff;
  font-family: "Host Grotesk", sans-serif;
}

.header, .content, .footer {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

.content {
  margin-top: 80px;
  margin-bottom: 100px;
}

.contact {
  font-size: 1.2rem;
  font-weight: 800;
}

.theme-toggle {
  font-size: .9rem;
}

.project-container {
  display: grid;
}

.project-container .project-tiles {
  border: 2px solid ;
  margin-bottom: 20px;
  border-radius: 4px;
}

.project-container .project-tiles h2 {
  padding: 10px 15px 0px;
}

.project-container .project-tiles p {
  padding: 10px 15px;
}

.project-details-link {
  background-color: #008080;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.project-container .project-tiles h2{
  font-size: 1.7rem;
}

.project-container .project-tiles p{
  font-size: 1.3rem;
}

p > a:hover {
  color: #fff;
}

@media screen and (min-width: 500px) {
  

}