@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-color: #000000;
}

body.light-mode, body.light-mode a {
  background-color: #fff;
}

body.light-mode a {
  background-color: #fff;
  color: #666666;
  font-weight: bold;
}

body.light-mode body {
  background-color: #fff;
}

body.light-mode i {
  color: #000;
}

body.light-mode .container {
  background-color: #fff;
  color: #000;
}

body.light-mode .project-details-link {
  background-color: #008080;
  color: #000;
}

body.light-mode .fa-arrow-up-right-from-square {
  font-size: 1.1rem;
  color: #000;
}

body.light-mode .ext-link {
  color: #666666;
  font-weight: bold;
  font-size: 1rem;
}

body.light-mode p > a:hover {
  color: #000;
}

body.light-mode .project-tile-link {
  text-decoration: none;
  background-color: #21313f;
  color: #f0f0f0;
  border-radius: 6px;
  border: 3px solid #667788;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  font-family: "Sora", sans-serif;
}

h2 {
  font-size: .9rem;
  font-family: "Sora", sans-serif;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  /* margin-bottom: 20px; */
}

a {
  color: #afa9a9;
  font-weight: 800;
}

i {
  font-size: 1.4rem;
  color: #fff;
}

.core-value {
  margin-top: 20px;
}

.fa-arrow-up-right-from-square {
  font-size: 1.1rem;
}

.ext-link {
  color: #afa9a9;
  font-weight: bold;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enable-chaos {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  background-color: #000;
  color: #fff;
  font-family: "Sora", sans-serif;
}

.header, .content, .footer {
  width: 85%;
  max-width: 600px;
  margin: 50px auto;
}

.logo-text {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 500;
}

.content {
  margin-top: 80px;
  margin-bottom: 100px;
}

.cta-container p {
  font-size: 1.2rem;
  margin-top: 4px;
}

.cta-links {
  text-decoration: none;
}

.available-btn {
  padding: 8px 18px;
  background: #fff;
  border: none;
  margin-bottom: 10px;
}

.available-btn {
  padding: 8px 15px;
  background-color: #dcfce7;
  border-radius: 50px;
}

.status-text {
  color: #4d7c0f;
  font-size: .9rem;
  font-weight: 500;
}

.availability-status {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Sora", sans-serif;
}

.status-indicator {
  position: relative;
  width: 16px;
  height: 16px;
}

.status-dot {
  width: 8px;
  height: 8px;
  background: #4d7c0f;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 3;
}

.ripple-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: rgba(76, 175, 80, 0.3);
  border-radius: 50%;
  animation: ripple 1.5s infinite ease-out;
}

.ripple-circle.delay {
    animation: 0.75s;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.7;
    }
}

.contact {
  font-size: 1.2rem;
  font-weight: 800;
}

.theme-toggle {
  font-size: .9rem;
}

.project-container {
  display: grid;
}

.project-container .project-tiles {
  margin-bottom: 15px;
}

.project-container .project-tiles h2 {
  padding: 10px 15px 0px;
}

.project-container .project-tiles p {
  padding: 10px 15px 0px;
}

.project-details-link {
  background-color: #1b3c3c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.project-tile-link {
  text-decoration: none;
  background-color: #21313f;
  color: #f0f0f0;
  border-radius: 6px;
  border: 3px solid #667788;
  margin-bottom: 20px;
}

.project-container .project-tiles h2{
  font-size: 1.3rem;
}

.project-container .project-tiles .project-tag{
  font-size: .9rem;
  margin-top: 10px;
}

.project-sub-heading {
  font-weight: bold;
  margin-bottom: -20px;
}

p > a:hover {
  color: #fff;
}

.click-to-view {
  font-size: 1rem;
}

.click-to-view-grid {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.click-to-view-icon {
  font-size: .9rem;
}

@media screen and (min-width: 450px) {
  .content {
    margin-top: 150px;
    margin-bottom: 80px;
  }
  
  .cta-container {
    display: flex;
    justify-content: space-between;
  }

}